.container {
    width: 300px;
    padding: 20px;
    text-align: center;
}

body{
    background-color: #000000;
    color: #ff0000;
    font-family: 'Noto Sans', sans-serif;
    border: color(rgb(255, 0, 0));
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 60px;
}

input{
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    padding: 15px;
    cursor: pointer;
    border-radius: 16px;
}